/* ////// UNIVERSAL ////// */

*:after,
*:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  background-color: #eeeeee;
  color: #333333;
  font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  color: inherit;
}

.main {
  padding: 5rem 0 0 20%;
  width: 80%;
  min-height: 100vh;
}

.section-heading {
  font-size: 1.5rem;
  font-weight: normal;
  letter-spacing: 0.75px;
  margin: 0;
  background: hsl(195, 5%, 71%);
  padding: 0.5rem 0 0.5rem 2rem;
}

/* ////// HEADER ////// */

.header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  align-items: center;
  z-index: 10;
}

.logo {
  height: 3rem;
  margin: 1rem;
}

.link,
button {
  padding: 1rem 2rem;
  margin: 0 2rem;
  height: 3rem;
  border: 1px solid #f85323;
  font-weight: bold;
  font-size: 14px;
  background: none;
  text-transform: uppercase;
  border-radius: 5px;
  transition: all 0.3s;
}

.inbox-link:hover,
.btn:hover,
.link:hover {
  background: #f85323;
  color: #ffffff;
  cursor: pointer;
}

/* ////// ASIDE ////// */

.dashboard {
  width: 20%;
  background: #004c66;
  height: 100rem;
  position: fixed;
  margin: 0;
  color: white;
  font-size: 18px;
  top: 0;
  z-index: 5;
}

.user-section {
  background: #51748c;
  width: 100%;
  margin: 0;
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-bottom: 3px solid #f85323;
}

.user-img-wrapper {
  margin: 0 auto;
  width: 45%;
}
.user-img {
  width: 100%;
  border-radius: 50%;
  border: solid 1px white;
}

.user-name {
  margin: 0;
  padding: 0 1rem 1rem 1rem;
  font-size: 1.5rem;
}

.date {
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
  border-bottom: 3px solid #f85323;
  margin: 0;
  padding: 1rem 0;
}

.fa-fw {
  margin-right: 0.5rem;
}

.menu-item {
  text-transform: uppercase;
  padding: 1rem 0 1rem 2rem;
  transition: all 0.3s;
}

.menu-item:hover {
  color: #333333;
  background-color: #ffffff;
  border-left: 5px solid #f85323;
}

/* ////// FOOTER ////// */

.footer {
  background: white;
  padding: 1.5rem 0;
  text-align: right;
  width: 100%;
  z-index: 1;
}

small {
  margin: 0 3rem 0 0;
}
/* ////// TABLE ////// */

table {
  width: 90%;
  table-layout: fixed;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
th,
td {
  padding: 0.5rem 0;
  text-align: center;
  font-size: 0.7rem;
}

.table-section {
  width: 100%;
}
.customer-survey-table {
  background: #ffffff;
  /* width: 85%; */
  margin: 6rem auto;
  border-radius: 5px;
}

.category {
  font-weight: bold;
}
.yellow {
  background-color: #ddc700;
}

.green {
  background-color: #29a571;
}

.red {
  background-color: #9e0000;
  color: #ffffff;
}

/* /////// SURVEYS /////// */

.survey-section {
  text-align: right;
  padding-bottom: 5rem;
}

.survey-heading {
  text-align: left;
}

.card-ui {
  display: grid;
  width: 90%;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin: 3rem auto;
}

.survey-card {
  background: #ffffff;
  border-radius: 5px;
  min-height: 200px;
  margin: 1rem;
}

.survey-card-heading {
  width: 100%;
  border-bottom: 2px dotted #f85323;
  margin: 0;
  padding: 0.5rem 0;
  font-size: 1rem;
  text-align: left;
}

.survey-link {
  color: inherit;
  text-decoration: none;
  margin: 0 0 0 1rem;
}

.survey-card-details {
  text-align: left;
  margin: 0.6rem;
}

.card-li {
  font-weight: bold;
  padding: 0.25rem;
}

.card-span {
  font-weight: normal;
}

.survey-link,
.link {
  color: inherit;
  text-decoration: none;
}

.disputed-by {
  color: #004c66;
  display: block;
  margin: 5px;
}

.view-more-link {
  margin: 3rem;
}

/* ////// EMPLOYEES ////// */

.subheading {
  text-transform: uppercase;
  font-size: 1rem;
  border-bottom: 1px solid #f85323;
  border-top: 1px solid #f85323;
  text-align: center;
  padding: 0.5rem 0;
}

.group-article {
  background: hsla(208, 23%, 60%, 0.219);
  border-radius: 5px;
  width: 95%;
  margin: 2rem auto;
  padding: 1px 0;
}

.group {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 3rem 2rem;
  grid-gap: 0.5rem;
}

.employee {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.employee-img-wrapper {
  width: 25%;
  margin: 0.5rem;
}

.employee-text {
  font-size: 1rem;
}
.employee-name {
  margin: 0;
}

.job-title {
  font-size: 0.7rem;
}

.employee-location,
.job-title {
  margin: 0;
  font-weight: normal;
}
