*:after,
*:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  background-color: #eeeeee;
  color: #333333;
  font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  color: inherit;
}

/* ////// HEADER ////// */

.header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  align-items: center;
  z-index: 10;
}

.logo {
  height: 3rem;
  margin: 1rem;
}

button {
  padding: 1rem 2rem;
  margin: 0 2rem;
  height: 3rem;
  border: 1px solid #f85323;
  font-weight: bold;
  font-size: 14px;
  background: none;
  text-transform: uppercase;
  border-radius: 5px;
  transition: all 0.3s;
}

/* ////// ASIDE ////// */

.dashboard {
  width: 20%;
  background: #004c66;
  height: 100rem;
  position: fixed;
  margin: 0;
  color: white;
  font-size: 18px;
  top: 0;
  z-index: 5;
}

.user-section {
  background: #51748c;
  width: 100%;
  margin: 0;
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-bottom: 3px solid #f85323;
}

.user-img-wrapper {
  margin: 0 auto;
  width: 45%;
}
.user-img {
  width: 100%;
  border-radius: 50%;
  border: solid 1px white;
}

.user-name {
  margin: 0;
  padding: 0 1rem 1rem 1rem;
  font-size: 1.5rem;
}
